@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
    --dark-blue: #34345e;
    --light-blue: #c0c6e8;
    --black: rgba(37, 37, 44, 0.92);
    --light-grey: rgba(200, 200, 200, 0.91);
    --white: #fff;
    --highlight: #FFBB00;
}

html {
    font-size: 40px;
    background-color: var(--dark-blue);
    color: var(--black);
    font-family: "Alumni Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}
